@import url("https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: ease-in-out all;
  text-decoration: none;
  /* overflow: hidden; */
}

::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
  height: 0;
}

.App {
  overflow: hidden;
  margin: 0 auto;
  height: 100vh;
  max-width: 1920px;

  position: relative;
}
